
@{
    ViewBag.Title = "Index";
}

<h2>@("Welcome to Nazir Concrete MR "+User.Identity.Name)</h2>
@*<div>
    <img src="~/Content/Logo.jpg"/>
</div>*@
@*<div>
    <img src="~/Content/Graphic11.gif"/>
</div>
<div>
    <img src="~/Content/pie-chart.png"/>
</div>*@
